:root {
  /* --wrapper-bg-color: rgba(218, 204, 2, 0.7); */
  /* --left-bg-color: rgba(219, 126, 38, 0.712); */
  /* --right-bg-color: rgba(42, 43, 43, 0.8); */
  /* --left-buttonReadMore-hover-color: rgba(161, 11, 11, 0.3); */
  --right-buttonReadMore-hover-color: rgba(92, 92, 92, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* 
.buttonReadMore {
  position: absolute;
  left: 50%;
  top: 40%;
  text-decoration: none;
  transform: translateX(-50%);
} */

/* .split.left .buttonReadMore:hover {
  background-color: var(--left-buttonReadMore-hover-color);
  border-color: var(--left-buttonReadMore-hover-color);
} */

/* .split.right .buttonReadMore:hover {
  background-color: var(--right-buttonReadMore-hover-color);
  border-color: var(--right-buttonReadMore-hover-color);
} */

/* .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--wrapper-bg-color);
} */

.split {
  position: absolute;
  width: 50%;
  height: 100%;
}

.split.left:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /* background: var(--left-bg-color); */
}

.split.right {
  right: 0;
  /* background: url('images/gaia-coffee.jpg') center center no-repeat; */
  /* background-size: cover; */
}

.split.right:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /* background: var(--right-bg-color); */
}

/* EFFECTS */
.split.left,
.split.right,
.split.right:before,
.split.left:before {
  transition: var(--speed) all ease-in-out;
}

/* LEFT */
.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}

/* RIGHT */
.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}

@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .buttonReadMore {
    width: 12rem;
  }
}

@media(min-height: 700px) {
  .buttonReadMore {
    top: 70%;
  }
}

/* code */
.backgroundcolors,
.backgroundColorstwo {
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  -webkit-animation: anime s linear infinite;
  animation: anime 16s linear infinite;
}

/* .btn2 {
  position: absolute;
  margin-top: -70px;
  z-index: -1;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  opacity: 0.8;
} */
@-webkit-keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  width: 100%;
  height: 100%;
}

.home,
.contact,
.portfolio {
  font-weight: bold;
  font-size: large;
}

.home {
  color: #000000;
  position: fixed;
  padding-left: 25px;
}

.text-vertical-links {
  padding-right: 20px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: rotate(-180deg);
}

.text-vertical-right {
  color: rgb(255, 255, 255);
  padding-right: 20px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: none;
}

.container {
  color: white;
  padding-bottom: 250px;
}

.title {
  font-size: 8rem;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

.titleSplitPage,
.textSplitPage {
  padding: 2rem 3rem 0 4rem;
}

.titleSplitPage {
  font-size: 8rem;
  font-family: "Raleway", sans-serif;
  color: #000000;
}

.contactMeHeadline {
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  -webkit-animation: anime s linear infinite;
  animation: anime 16s linear infinite;
}

.linkedinGithub {
  text-align: right;
}

#button {
  background-color: rgba(255, 255, 255, 0.3);
  height: 40px;
  text-align: center;
  width: 130px;
  color: white;
  border-radius: 40px;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  /* border: #fff solid 0.1rem; */
}

.portfolioPage {
  /* background: linear-gradient(to bottom, #ffa63d,#ff3d77); */
  height: 100%;
  justify-content: center;
}

.portfolioText {
  font-size: 8rem;
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 70px;
  text-align: center;
  padding: 80px;
}

.gallery {
  width: 60%;
  /* background-color: #ffa63d; */
  margin: auto;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}